.banner{
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    background: linear-gradient(rgba(36, 35, 36, 0.8), rgba(70, 68, 68, 0.8)), url("https://images.unsplash.com/photo-1632181933700-96ab06d2a7c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");  /* Chrome 10-25, Safari 5.1-6 */
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
}


.layers{
    background-color: black;
}

.bg{
    background-color: rgb(230, 230, 230);
}
.p5Canvas{
 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.border{
    background-color: rgb(0, 40, 85);
    box-shadow: 10px 5px rgb(96, 97, 97);

}

footer{
    background: rgb(0, 0, 0);
    font-size: 12px;
    

}
footer a{
    text-decoration: none;
    color: aliceblue;
}